*{
    font-family: 'Inter';
    font-size: 20px;
}
:root{
    --lightblue:#99ceed;

}
section{
    scroll-margin-block: 4rem;
}
body {
    overflow-x: hidden;
}

#image{
    width: 370px;
    max-width: 100%;
    margin-left: 200px;
}
#img1{
    width: 100px;
}
#img2{
    width: 300px;
    height: 250px;
}
.span{
    font-size: 45px;
    font-weight: bolder;
    color:var(--lightblue);
}
.port{
    font-size: x-large;
    font-family: 'Syncopate';
    color: white;
}
.footer{
    background-color: var(--lightblue);
}
.my{
    font-size: 30px;
  font-weight: normal;
    color: white;
    font-family: 'DM Serif Display', serif;
}
footer {
    position: static;
    bottom: 50px;
    left: 0;
    right: 0;
}

.copyright{
    position: static;
    bottom: 65px;
    left: 1;
    right: 0; 
}

.paragraph{
    color: white;
    font-size: small;
}
.contactbutton{
   background-color: var(--lightblue);
   border-radius: 5px;
}
h1{

    color: var(--lightblue);
    text-align: center; 
    margin-top: 10%;
}
.sec3{
    margin-top: 10%;
}
.sec2{
    margin-bottom: 10%;
}
.div{

    color: var(--lightblue);
    box-sizing: border-box;
    border-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px var(--lightblue);
    width: 400px;
    text-align: center;

}

#form{
    text-align: center;
 }
:is(input[type="text"], input[type="email"], textarea){
    font-weight: bolder;
}
 #input{
    padding: 10px;
    border-radius: 9px;
 }
 #text{
    background-color:white;
 }
 #text{
    margin: 4%;
    padding: 10px;
    border-radius: 9px;
 }

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh;
  }
/* .carousel-indicators button {
    background-color:var(--lightblue); 
    border: none;
    padding: 10px 15px;
    margin-right: 10px; 
    border-radius: 5px; 
    color: #fff; 
    cursor: pointer;
} */
.carousel-button {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px; /* Adjust left position as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
.carousel-indicators .active{
    background-color: var(--lightblue);
  

}

#text{
    max-width: 300px;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center; 
    font-size: small
    
}

