*{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
:root{
    --lightblue:#64B2DE;

}
body {
    overflow-x: hidden;
}
#image{
    width: 370px;
    max-width: 100%;
    margin-left: 200px;
}
#img1{
    width: 100px;
}
.span{
    font-size: 45px;
    font-weight: bolder;
    color:var(--lightblue);
}
.port{
    font-size: x-large;
    font-family: 'Syncopate';
    color: white;
}
.footer{
    background-color: var(--lightblue);
}
.my{
    font-size: 30px;
  font-weight: normal;
    color: white;
    font-family: 'DM Serif Display', serif;
}
footer {
    position: static;
    bottom: 50px;
    left: 0;
    right: 0;
}

.copyright{
    position: static;
    bottom: 65px;
    left: 1;
    right: 0; 
}

.paragraph{
    color: white;
    font-size: small;
}
.contactbutton{
   background-color: var(--lightblue);
   border-radius: 5px;
}
h1{

    color: var(--lightblue);
    text-align: center; 
    margin-top: 10%;
}
.sec3{
    margin-top: 10%;
}
.sec2{
    margin-bottom: 10%;
}
.div{

    color: var(--lightblue);
    box-sizing: border-box;
    border-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px var(--lightblue);
    width: 400px;
    text-align: center;

}

.div:hover {
    transition: ease-in-out 1s;
    margin-top: 10%;
}




